.card {
    border-width: 0px 0px 2px 0px; /* Top, Right, Bottom, Left */
    border-style: solid; /* Applies solid style to all borders */
    padding:10px;
    border-color: rgb(120, 120, 120);
    margin-bottom: 6px;
  }

  .card:hover {
    text-decoration: none;
    background-color: rgb(146, 139, 139);
  }

  .card-title {
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    font-size: x-large;
}

  .card-text {
    text-decoration: none !important;
  }

  .card-text:active .card-text:link .card-text:hover .card-text:visited {
    text-decoration-line: none !important;
  }

  .card-image {
    margin-bottom: 24px; /* Add margin for spacing */
  }

  .card-content {
    margin: 4px; /* Add margin for spacing */  
    text-decoration: none;
    color: black;
  }

