.site {
    margin: 0;
    padding: 0;  
  }
  
  
  .container {
    margin: auto;
    max-width: 600px;
    font-family: Montserrat;
    color: #4b4b4b;
    font-size:larger
  }
  
  .heading {
    font-size: xx-large;
    font-weight: 1800;
    font-family: merriweather;
    text-align: center;
    color: rgb(10, 10, 10);
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
  
  .nav-link-item {
    float: left;
  }
  .nav-link-item-active {
    background-color: #861c1c;
  }

  .nav-link-item:hover {
    background-color: #111;
  }
 
  .nav-link-text {
    display: block;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 14px 16px;
    text-decoration: none;
    }

  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
  
  