
.container {
    margin: auto;
    max-width: 600px;
    font-family: sans-serif;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
  
  .nav-link-item {
    float: left;
  }

  .nav-link-item:hover {
    background-color: #111;
  }
 
  .nav-link-text {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
  
  